.card-container {
  background: transparent;
  border-radius: 10px;
  padding: 90px 40px;
  display: flex;
  flex-wrap: wrap;

}

.card-wrapper {
  margin: 10px;
  text-align: center;
  flex: 1;
}

.card {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-position: center;
  top: 5%;
  backdrop-filter: blur(10px);

}

.card-body {
  max-height: 200px;
  
}

.card-img-top {
  max-height: 200px;
}


.button-wrapper {
  display: inline-block;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  border-radius: 30px;
}

.button-wrapper:hover {
  background-color: #eee4e488;
  color: rgb(255, 255, 255);
  transform: scale(0.95);
}

